<script type="text/x-template" id="track-item-table-template">
  <tr>
    <th scope="row" class="d-flex justify-content-between">
      <div class="item-img">
        <img v-if="item.src" :src="item.src">
        <svg-icon v-if="!item.src" name="placeholder-album" class="placeholder-album-icon"></svg-icon>
        <play-button class="item-primary-action item-action" :item="item"></play-button>
      </div>
    </th>
    <td>
      <router-link to="">
        <span>{{ item.title }}</span>
        <span></span>
      </router-link>
    </td>
    <td><router-link to="">{{ item.artist }}</router-link></td>
    <td><router-link to="">{{ item.album }}</router-link></td>
    <td class="text-muted">{{ item.duration | formatDuration }}</td>
    <td class="text-muted">{{ index + 1 }}</td>
    <td class="text-muted">
      <div class="d-flex justify-content-between">
        <div v-on:click="toggleShowMore()" class="disabled item-action">
          <svg-icon name="more-horizontal"></svg-icon>
        </div>
      </div>
    </td>
    <div v-if="showMore" v-bind:style="showMoreStyle" class="collapse-detail">
      <div class="d-flex ml-2">
      <button v-on:click="toggleShowMore()" class="close">
        <svg-icon name="add"></svg-icon>
      </button>
      <div>
        <img width="260" class="embed-responsive-item" :src="item.src">
        <div class="mt-2 d-flex">
        <play-button-secondary :item="item"></play-button-secondary>
        <enqueue-button class="ml-2" :item="item"></enqueue-button>
        </div>
      </div>
      <div class="ml-2">
        <h4 class="title mb-0">{{ item.title }}</h4>
        <span class="caption">{{ item.duration | formatDuration }}</span>
        <div class="subtitle"><span class="font-weight-bold">File name:</span>{{ item.filename }}</div>
        <div class="subtitle"><span class="font-weight-bold">Path:</span>{{ item.mrl }}</div>
      </div>
      </div>
    </div>
  </tr>
</script>