<script type="text/x-template" id="music-view-template">
    <div class="music-view h-100">
        <div class="fixed-top secondary-navbar">
            <div class="container-fluid d-flex h-100 position-relative show collapse justify-content-between align-items-center">
                <div class="d-flex align-items-center flex-1 justify-content-start">
                    <item-layout-button class="disabled"></item-layout-button>
                    <button v-on:click="" class="btn btn-circle ml-2 disabled"><svg-icon name="sort"></svg-icon></button>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <router-link to="/music/albums" exact-active-class="active" class="btn btn-link">Albums</router-link>
                    <router-link to="/music/artists" active-class="active" class="btn btn-link">Artists</router-link>
                    <router-link to="/music/genres" exact-active-class="active" class="btn btn-link">Genres</router-link>
                    <router-link to="/music/tracks" exact-active-class="active" class="btn btn-link">Tracks</router-link>
                    <router-link to="/music/playlists" exact-active-class="active" class="btn btn-link disabled">Playlists</router-link>
                </div>
                <div class="d-flex flex-1 justify-content-end h-100">
                    <a data-toggle="collapse" href="#" data-target=".collapse" role="button" class="text-white toggler px-2 d-flex align-items-center">
                        <svg-icon name="playlist_play"></svg-icon>
                    </a>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0 h-100" :class="'push'">
            <div class="row collapse show no-gutters d-flex h-100 position-relative">
                <div class="col container-view">
                    <transition name="fade" mode="out-in">
                        <router-view></router-view>
                    </transition>
                </div>
                <div class="col-3 p-0 h-100 w-sidebar navbar-collapse collapse d-flex sidebar show">
                    <!-- fixed sidebar -->
                    <div class="navbar-dark align-self-start w-sidebar w-sidebar-content">
                        <playlist></playlist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
