<script type="text/x-template" id="enqueue-button-template">
    <div>
        <c-button v-if="!playlistItem" v-on:click="enqueueItem()" v-bind:classname="['btn-sm', 'enqueue-button']">
            <svg-icon name="playlist_add"></svg-icon> Enqueue
        </c-button>

        <c-button v-if="playlistItem" v-on:click="removeFromQueue()" v-bind:classname="['btn-sm', 'enqueue-button']">
            <svg-icon name="playlist_added"></svg-icon> Remove from queue
        </c-button>
    </div>
</script>
