<script type="text/x-template" id="genre-item-grid-template">
    <div class="item-people genre-item tag-item genre-item-grid-template col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="item-img">
            <img :src="item.src">
            <div class="item-body">
                <span class="item-title text-truncate">{{ item.name }}</span>
                <span class="item-subtitle text-truncate">{{ item.nbTracks }} tracks</span>
            </div>
            <div class="overlay"></div>
        </div>
    </div>
</script>
