<script type="text/x-template" id="artist-item-grid-template">
    <router-link :to="'/music/artists/' + item.id" class="item-people artist-item grid-item artist-item-grid-template col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
        <div class="item-img embed-responsive embed-responsive-1by1">
            <img v-if="item.src" class="embed-responsive-item" :src="item.src">
            <svg-icon v-if="!item.src" name="placeholder-artist" class="placeholder-artist-icon"></svg-icon>
            <div class="overlay">
                <play-button class="item-primary-action"></play-button>
            </div>
        </div>
        <div class="item-body">
            <router-link to="" class="item-title text-truncate">{{ item.name }}</router-link>
            <span class="item-subtitle text-truncate">{{ item.nbTracks }} songs</span>
        </div>
    </router-link>
</script>
