:root {
    $highlight-color: #f48b00;
    $body-bg-color: #fbfbfb;
    $collapse-detail-bg-color: rgb(246, 246, 246);
    $primary-color: #fff;
    $library-item-bg-color: #efefef;
    $grid-item-bg-color: #ededed;
    $main-navbar-bg-color: #fbfbfb;
    $secondary-navbar-bg-color: #fff;
    $secondary-navbar-border-color: #dddddd;
    $secondary-navbar-btn-bg-color: #dcdbd9;
    $sidenav-border-color: #efefef; // #dddddd;
    $sidenav-bg-color: #f5f5f5;
    $media-player-bg-color: rgba(236, 236, 236, 0.8);
    $icon-color: #6d6d6d;
    $icon-hover-color: #888888;
    $primary-text-color: #000;
    $primary-text-hover-color: lighten(#000, 15%);
    $secondary-text-color: #6d6d6d;
    $playlist-action-bg-color: #fff;
    $playlist-action-text-color: #999999;
    $playlist-active-bg-color: #fff;
    $playlist-active-color: #000;
    $link-color: #000;
    $link-hover-color: lighten(#000, 15%);
    $divider-color: #eae9e9;
    --primary-color: #{$primary-color};
    --collapse-detail-bg-color: #{$collapse-detail-bg-color};
    --divider-color: #{$divider-color};
    --library-item-bg-color: #{$library-item-bg-color};
    --grid-item-bg-color: #{$grid-item-bg-color};
    --link-color: #{$link-color};
    --primary-text-color: #{$primary-text-color};
    --primary-text-hover-color: #{$primary-text-hover-color};
    --secondary-text-color: #{$secondary-text-color};
    --link-hover-color: #{$link-hover-color};
    --playlist-action-bg-color: #{$playlist-action-bg-color};
    --playlist-action-text-color: #{$playlist-action-text-color};
    --playlist-active-bg-color: #{$playlist-active-bg-color};
    --playlist-active-color: #{$playlist-active-color};
    --highlight-color: #{$highlight-color};
    --icon-color: #{$icon-color};
    --icon-hover-color: #{$icon-hover-color};
    --body-bg-color: #{$body-bg-color};
    --main-navbar-bg-color: #{$main-navbar-bg-color};
    --secondary-navbar-bg-color: #{$secondary-navbar-bg-color};
    --secondary-navbar-border-color: #{$secondary-navbar-border-color};
    --secondary-navbar-btn-bg-color: #{$secondary-navbar-btn-bg-color};
    --sidenav-bg-color: #{$sidenav-bg-color};
    --sidenav-border-color: #{$sidenav-border-color};
    --media-player-bg-color: #{$media-player-bg-color};
}

:root[data-theme='dark'] {
    $highlight-color: #f48b00;
    $body-bg-color: #211f1f;
    $collapse-detail-bg-color: #303234;
    $primary-color: #000;
    $library-item-bg-color: #303234;
    $sidenav-bg-color: #292727;
    $media-player-bg-color: rgba(41, 39, 39, 0.8);
    $main-navbar-bg-color: #333333;
    $secondary-navbar-bg-color: #2d2d2d;
    $secondary-navbar-border-color: #303234;
    $secondary-navbar-btn-bg-color: #303234;
    $secondary-color: #292727;
    $secondary-text-color: #888888;
    $sidenav-border-color: #303234;
    $icon-color: #d0d0d0;
    $icon-hover-color: #fff;
    $primary-text-color: #fff;
    $primary-text-hover-color: darken(#fff, 15%);
    $playlist-action-bg-color: #232323;
    $playlist-action-text-color: #999999;
    $playlist-active-bg-color: #232323;
    $playlist-active-color: #fff;
    $link-color: #fff;
    $link-hover-color: darken(#fff, 15%);
    $divider-color: #404040;
    --primary-color: #{$primary-color};
    --collapse-detail-bg-color: #{$collapse-detail-bg-color};
    --divider-color: #{$divider-color};
    --library-item-bg-color: #{$library-item-bg-color};
    --grid-item-bg-color: #{$library-item-bg-color};
    --link-color: #{$link-color};
    --link-hover-color: #{$link-hover-color};
    --playlist-action-bg-color: #{$playlist-action-bg-color};
    --playlist-action-text-color: #{$playlist-action-text-color};
    --playlist-active-bg-color: #{$playlist-active-bg-color};
    --playlist-active-color: #{$playlist-active-color};
    --icon-color: #{$icon-color};
    --icon-hover-color: #{$icon-hover-color};
    --primary-text-color: #{$primary-text-color};
    --primary-text-hover-color: #{$primary-text-hover-color};
    --secondary-text-color: #{$secondary-text-color};
    --body-bg-color: #{$body-bg-color};
    --main-navbar-bg-color: #{$main-navbar-bg-color};
    --secondary-navbar-bg-color: #{$secondary-navbar-bg-color};
    --secondary-navbar-border-color: #{$secondary-navbar-border-color};
    --secondary-navbar-btn-bg-color: #{$secondary-navbar-btn-bg-color};
    --sidenav-bg-color: #{$sidenav-bg-color};
    --sidenav-border-color: #{$sidenav-border-color};
    --media-player-bg-color: #{$media-player-bg-color};
}
