.playlist-audio-item.list-item {
    text-align: center;
    border: 0;
    border-radius: 0;
    margin-bottom: 8px;
    width: 100%;
    &.active {
        background-color: var(--playlist-active-bg-color);
        color: var(--playlist-active-color);
    }
    &:focus,
    &:hover {
        text-decoration: none;
    }
    .item-img {
        width: 52px;
        height: 52px;
        border-radius: 6px;
        overflow: hidden;
    }
    .item-duration {
        bottom: 3px;
    }
}
